<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body >
    <%- include('../partials/header') %>
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="col-md-6">
                    <div class="login-page">
                        <h4 class="title">Nuevo usuario</h4>
                        <p>Es obligatorio completar el formulario de inscripción en todos sus campos con datos válidos para poder utilizar los servicios que brinda CannabisMarket. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario.</p>
                        <br>
                        <div class="button1">
                            <a href="/registro"><input type="submit" name="Submit" value="Crear una cuenta"></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="login-title">
                            <h4 class="title">Usuarios registrados</h4>
                        <div id="loginbox" class="loginbox">
                            <form action="/login" method="POST" name="login" id="login-form">
                                <fieldset class="input">
                                    <p id="login-form-username">
                                        <label for="modlgn_username">Correo</label>
                                        <input id="modlgn_username" type="text" name="email" class="inputbox" size="18" autocomplete="off" value="">
                                        <% if(locals.errors) {
                                            errors.forEach( error =>{
                                                if( error.param == 'email' ){%>
                                                    <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                                <%}%>
                                            <%})
                                        }%>
                                    </p>
                                    <p id="login-form-password">
                                        <label for="modlgn_passwd">Contraseña</label>
                                        <input id="modlgn_passwd" type="password" name="contrasenia" class="inputbox" size="18" autocomplete="off" value="">
                                        <% if(locals.errors) {
                                            errors.forEach( error =>{
                                                if( error.param == 'contrasenia' ){%>
                                                    <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                                <%}%>
                                            <%})
                                        }%>
                                    </p>
                                    <div class="remember">
                                        <p id="login-form-remember">
                                        <label for="modlgn_remember"><a href="#">Olvidó su contraseña ? </a></label>
                                        </p>
                                        <input type="submit" name="Submit" class="button" value="Ingresar">
                                        <div class="clear"></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                </div>
            </div>
        </div>
    <%- include('../partials/footer') %>
</body>
</html>