<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body >
    <%- include('../partials/header') %>
    <!-- <div class="cuadro">
        <header class="tituloLogin">
            <h2>Crear una cuenta</h2>
            <hr class="lineaTitulo">
        </header>
        <div class="cuadroFormulario">
            <section >
                <div>
                    <a class="enlace" href="#">¿Ya tienes una cuenta? ¡Inicie sesión en su lugar!</a>
                </div>
                <form action="/registro" method="POST" enctype="multipart/form-data">
                    <p>* Nombre</p>
                    <input class="cajaDatos" type="text" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                    <% if(locals.errors) {
                        errors.forEach( error =>{
                            if( error.param == 'nombre' ){%>
                                <small class="errorValidaciones"><%= error.msg%></small><br><br>
                            <%}%>
                        <%})
                    }%>
                    <p>* Apellido</p>
                    <input class="cajaDatos" type="text" name="apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>">
                    <% if(locals.errors) {
                        errors.forEach( error =>{
                            if( error.param == 'apellido' ){%>
                                <small class="errorValidaciones"><%= error.msg%></small><br><br>
                            <%}%>
                        <%})
                    }%>
                    <p>* Correo electrónico</p>
                    <input class="cajaDatos" type="email" name="" value="<%= locals.old && old.correo ? old.correo : '' %>">
                    <% if(locals.errors) {
                        errors.forEach( error =>{
                            if( error.param == 'correo' ){%>
                                <small class="errorValidaciones"><%= error.msg%></small><br><br>
                            <%}%>
                        <%})
                    }%>
                    <p>* Contraseña</p>
                    <input class="cajaDatos" type="password" name="contrasenia">
                    <% if(locals.errors) {
                        errors.forEach( error =>{
                            if( error.param == 'contrasenia' ){%>
                                <small class="errorValidaciones"><%= error.msg%></small><br><br><br>
                            <%}%>
                        <%})
                    }%>
                    <p>Avatar</p>
                    <input class="cajaDatos" type="file" name="imagenAvatar"><br><br>
                    <div class="boton">
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </section>
            <footer>
            </footer>
        </div>
    </div> -->

    <div class="main">
        <div class="shop_top">
            <div class="container">
                <form action="/registro" method="POST" enctype="multipart/form-data">
                        <div class="register-top-grid">
                                <h4 class="title">INFORMACIÓN PERSONAL</h4>
                                <div>
                                    <span>Nombre<label>*</label></span>
                                    <input type="text" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>"><br>
                                    <% if(locals.errors) {
                                        errors.forEach( error =>{
                                            if( error.param == 'nombre' ){%>
                                                <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                            <%}%>
                                        <%})
                                    }%>
                                </div>
                                <div>
                                    <span>Apellido<label>*</label></span>
                                    <input type="text" name="apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>"><br>
                                    <% if(locals.errors) {
                                        errors.forEach( error =>{
                                            if( error.param == 'apellido' ){%>
                                                <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                            <%}%>
                                        <%})
                                    }%>
                                </div>
                                <div>
                                    <span>Correo electrónico<label>*</label></span>
                                    <input type="text" name="email" value="<%= locals.old && old.email ? old.email : '' %>"><br>
                                    <% if(locals.errors) {
                                        errors.forEach( error =>{
                                            if( error.param == 'email' ){%>
                                                <small class="errorValidaciones"><%= error.msg%></small>
                                            <%}%>
                                        <%})
                                    }%>
                                </div>
                                <div>
                                    <span>Avatar</span>
                                    <input type="file" name="imagenAvatar"><br>
                                </div>
                                <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                        <div class="register-bottom-grid">
                                <h4 class="title">INFORMACIÓN DE ACCESO</h4>
                                <div>
                                    <span>Contraseña<label>*</label></span>
                                    <input type="password" name="contrasenia"><br>
                                    <% if(locals.errors) {
                                        errors.forEach( error =>{
                                            if( error.param == 'contrasenia' ){%>
                                                <small class="errorValidaciones"><%= error.msg%></small><br><br><br>
                                            <%}%>
                                        <%})
                                    }%>
                                </div>
                                <div>
                                    <span>Confirmar contraseña<label>*</label></span>
                                    <input type="password" name="contrasenia2">
                                </div>
                        </div>
                        <div class="button1">
                            <input type="submit" name="Submit" class="button" value="Crear cuenta">
                        </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>