<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <div class="main">
        <div class="shop_top">
            <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single_image">
                                <img width="300px" src="/images/imagesProductos/<%=producto.imagen%>">
                            </div>
                        </div>
                    <div class="col-md-4">
                        <div >
                            <h3><%=producto.nombre%></h3>
                            <p class="m_10"><%=producto.descripcion%></p>
                            <div class="btn_form">
                                <form action="/bolsa/agregarProducto/<%=producto.id%>">
                                    <input type="submit" value="Comprar ahora" title="">
                                    <!-- <span>Agregar al carro</span> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-info-product">
                            <p class="price2">Precio: $<%=producto.precio%></p>
                                <!-- <ul class="prosuct-qty">
                                    <span><%=producto.stock%> disponibles</span>
                                    <span>Cantidad: </span>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </ul> -->
                                
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>