<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cannabis-Market</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    </head>
<body>
    <%- include('../partials/header') %>
        <div class="contador">
            <p>Cantidad productos: <%= listaProductos.length%></p>
        </div>
        <div class="card-productos">
            <% listaProductos.forEach( ( producto) =>{ %>
                <a href="/productos/obtenerProducto/<%=producto.id%>">
                    <div>
                        <img src="<%=producto.imagen%>" alt="">
                        <h4><%=producto.nombre%></h4>
                        <p><%=producto.precio%></p>
                    </div><br>
                </a>
            <%});%>
        </div>


    <%- include('../partials/footer') %>
</body>
</html>