<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!-- <div class="cuadro">
        <header class="tituloLogin">
            <h2>Ingresar Nuevo Producto</h2>
            <hr class="lineaTitulo">
        </header>
        <div class="cuadroFormulario">
            <section >
                <div>
                    <a class="enlace" href="#">Ingresar datos del producto</a>
                </div>
                <form action="/productos/nuevoProducto" method="POST" enctype="multipart/form-data" >
                    <p>Nombre del producto</p>
                    <input class="cajaDatos" type="text" name="nombre" id="nombre">
                    <p>Descripción</p>
                    <input class="cajaDatos" type="text" name="descripcion" id="descripcion">
                    <p>Precio</p>
                    <input class="cajaDatos" type="text" name="precio" id="precio">
                    <p>Imagen</p>
                    <input class="cajaDatos" type="file" name="imagenProducto" id="imagenProducto">
                    <br>
                    <div class="boton">
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </section>
            <footer>
            </footer>
        </div>
    </div> -->
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <form action="/productos" method="POST" enctype="multipart/form-data">
                    <div class="register-top-grid">
                        <h3>CREAR PRODUCTO</h3>
                        <div>
                            <span>Nombre del producto<label>*</label></span>
                            <input type="text" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>"><br>
                            <% if(locals.errors) {
                                errors.forEach( error =>{
                                    if( error.param == 'nombre' ){%>
                                        <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                    <%}%>
                                <%})
                            }%>
                        </div>
                        <div>
                            <span>Precio<label>*</label></span>
                            <input type="text" name="precio" ><br>
                            <% if(locals.errors) {
                                errors.forEach( error =>{
                                    if( error.param == 'precio' ){%>
                                        <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                    <%}%>
                                <%})
                            }%>
                        </div>
                        <div>
                            <span>Cantidad<label>*</label></span>
                            <input type="number" name="stock" value="<%= locals.old && old.stock ? old.stock : '' %>"><br>
                            <% if(locals.errors) {
                                errors.forEach( error =>{
                                    if( error.param == 'stock' ){%>
                                        <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                    <%}%>
                                <%})
                            }%>
                        </div>
                        <div>
                            <span>Imagen<label>*</label></span>
                            <input type="file" name="imagen">
                        </div>
                        <div class="clear"> </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <div class="register-bottom-grid">
                        <h3>Información adicional</h3>
                        <div>
                            <span>Categoría<label>*</label></span>
                            <select name="id_categoria">
                                <option disabled selected value>Seleccione categoría</option>
                                <option value="1">Orales</option>
                                <option value="2">Complementos nutricionales</option>
                                <option value="3">Estéticos</option>
                                <option value="4">Tópicos</option>
                                <option value="5">Animales</option>
                            </select><br>
                            <% if(locals.errors) {
                                errors.forEach( error =>{
                                    if( error.param == 'id_categoria' ){%>
                                        <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                    <%}%>
                                <%})
                            }%>
                        </div>
                        <div class="text">
                            <textarea name="descripcion" >Descripción:</textarea><br>
                            <% if(locals.errors) {
                                errors.forEach( error =>{
                                    if( error.param == 'descripcion' ){%>
                                        <small class="errorValidaciones"><%= error.msg%></small><br><br>
                                    <%}%>
                                <%})
                            }%>
                        </div>
                    </div>
                    <div class="button1">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
        </div>
    <%- include('../partials/footer') %>
</body>
</html>